/* 
    Created on : 17.11.2014, 18:30:09
    Author     : brandt
*/

.player {
    height: 50%;
    width: 100%;
}
.control-buttons{
    width: 100%;
    height: 10%;
    text-align: center;
}
.control-buttons > .btn{
    height: 100%;
}
* {
    font-size: 5.5vh;
}
.life-counter{
    font-size: 5.5vh;
}
.player-name{
    font-size: 5.5vh;
}

.labels-toss > div{
    font-size: 5.5vh;
    line-height: 5.5vh;
}

html, body, .container{
    width: 99%;
    height: 99%;
}
.players{
    width: 100%;
    height: 15%;
}

.menu{
    height: 13%;
}

.menu > .buttons, .menu > .buttons > .button{
    height: 100%;
}

.calculation-recipe{
    height: 20%;
    background-color: gray;
}

.life-counter{
    float: left;
    height: 100%;
    min-height: 100%;
    color: red;
    width: 50%;
    background-color: whitesmoke;
}

.player-name{
    width: 50%;
    float: left;
    height: 100%;
    background-color: whitesmoke;
}

.active-player{
    background-color: activeborder;
}

.status{
    height: 10%;
    background-color: #adadad;
}

.btn{
    width: 33.333333333333333333333333333334%;
    height: 100%;
    border: 1px solid;
}

.btn-number{}

.buttons{
    width: 100%;
    height: 14%;
}
.toss{
    height: 20%;
}
.labels-toss{
    height: 50%;
    width: 100%;
    float: left;
}
.labels-toss > div{
    vertical-align: middle;
    text-align: center;
    width: 50%;
    float: left;
}
.buttons-toss{
    height: 50%;
}
.buttons-toss > .btn {
    height: 100%;
    width: 50%;
}

.clear{
    
}
.btn:hover{
    background-color: lightblue;
}

body{
    background-color: black;
    color: #bce8f1;
}

.player{
    text-align: center;
    color: #080808;
}

.upside{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.full-width{
    width: 100%;
}